<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="home-toolbar">
    <ion-title>
      Dbara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light">
  <ion-card class="welcome-title">
    <ion-card-header >
      <ion-card-title class="title">Dbarat Lyoum</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button class="btn-home" [routerLink]="'/recipes'">Check Recipes</ion-button>
</ion-footer>
